<!-- Banner -->
<section id="banner">
	<h2>{{ site.title }}</h2>
	<p>{{ site.description }}</p>
	<ul class="actions special">
		<li><a href="#" class="button primary">Change This</a></li>
		<li><a href="#" class="button">Also This</a></li>
	</ul>
</section>